input{
    height: 20%;
    background-color: white;
    margin: 10px 0 0;
    padding: 10px;
    color: black;
    border-radius: 10px;
    border: none;
    outline: none;
    width: -webkit-fill-available;
    padding: 3%;
    margin: 3% 3% 3% 0%;
    
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }